@import "src/app/scss/colors";

//Input autofill styles override

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px $bg-main-clr inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: $text-clr !important;
}

//Input autofill styles override end

button {
  font-size: inherit;
  background: $icon-bg-clr;
  color: $icon-text-clr;
  margin-right: .5rem;
  margin-bottom: .1rem;
  width: 25px;
  height: 25px;
  padding: .3rem;
  border: none;
  cursor: pointer;
  outline: none;
  &:hover, :active, :focus {
    opacity: .6;
  }
}
.is-completed{
  opacity: .4;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: $border-clr;
    content: "";
    width: 100%;
    display: block;
  }
}

.fa-icon {
  text-align: center;
  vertical-align: baseline;
}

.input-wrap{
  input {
    margin-right: .5rem;
    background: $bg-main-clr;
    border: none;
    font-size: 26px;
    color: inherit;
      }
  button{
    border-radius: 10px;
    width: auto;
  }
  border-bottom: dotted 1px $border-clr;
}

ul{
  padding: 0;
  display: flex;
  list-style: none;

  li{
    margin-right: 1rem;
  }
  a{
    text-decoration: none;
    color: $text-clr;
    position: relative;
  }
  ::before{
    content: '/';
    width: 5px;
    height: 15px;
    color: inherit;
    position: absolute;
    top: 0;
    right: -12px;
  }
}

.todo-item{
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px $border-clr;
  margin-bottom: 1rem;

  button {
    border-radius: 50%;
  }
}
