@import "src/app/scss/colors";


button{
  border-radius: 10px;
  width: auto;
}

.input-wrap{
  input {
    font-size: 26px;
    border-bottom: none;
      }

}

ul{
  padding: 0;
  display: flex;
  list-style: none;

  .active{
    color: $text-clr;
  }
  li{
    margin-right: 1rem;
    color: $border-clr;
  }
  a{
    text-decoration: none;
    color: inherit;
    position: relative;
    &::before{
      content: '/';
      width: 5px;
      height: 15px;
      color: inherit;
      position: absolute;
      top: 0;
      right: -12px;
    }
  }
}

.user-wrap{
  display: flex;
  justify-content: space-between;

  button{
    margin: 1rem 0;
  }
}
