@import "src/app/scss/colors";

//Input autofill styles override

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px $bg-main-clr inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: $text-clr !important;
}

//Input autofill styles override end


.input-wrap{
  input {
    margin-right: .5rem;
    background: $bg-main-clr;
    border: none;
    font-size: 26px;
    color: inherit;
      }
  button{
    border-radius: 10px;
    width: auto;
  }
  border-bottom: dotted 1px $border-clr;
}

ul{
  padding: 0;
  display: flex;
  list-style: none;

  .active{
    color: $text-clr;
  }
  li{
    margin-right: 1rem;
    color: $border-clr;
  }
  a{
    text-decoration: none;
    color: inherit;
    position: relative;
    &::before{
      content: '/';
      width: 5px;
      height: 15px;
      color: inherit;
      position: absolute;
      top: 0;
      right: -12px;
    }
  }
}

