<div class="content-wrap">

  <app-editing-todo
    *ngIf="isEditing$ | async"
  ></app-editing-todo>

  <form  class="input-wrap">
    <input  [(ngModel)] = "inputValue"
            #todoInput
            name="todoInput"
            type="text"
            placeholder="What needs to be done?">
    <button
      type="submit" (click)="addTodo(inputValue)">Add</button>
  </form>
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="null">
          View All
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="null" [queryParams]="{todos: 'active'}">
          Active
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="null" [queryParams]="{todos: 'completed'}">
          Completed
        </a>
      </li>
    </ul>
  </nav>
  <app-todo-item
    *ngFor="let todo of (todos$ | async)"
    [todo]="todo"
  ></app-todo-item>
</div>
