<div class="content-wrap">
  <form  class="input-wrap">
    <input  [(ngModel)] = "inputValue"
            #todoInput
            name="todoInput"
            type="text"
            placeholder="What needs to be done?">
    <button
      type="submit" (click)="addTodo(inputValue)">Add</button>
  </form>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/all">
          View All
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/active">
          Active
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/completed">
          Completed
        </a>
      </li>
    </ul>
  </nav>
  <div class="todos">

    <router-outlet></router-outlet>

  </div>
</div>
