@import 'src/app/scss/colors';

.article-card {
  background-color: $primary-clr;
  margin: 1rem;
  width: 335px;
  height: 600px;
}
.like-dislike-btn {
  vertical-align: center;
}
.like-dislike-count {
  padding-right: .5rem;
}
.highlight-like-button {
  color: $secondary-clr;
}
.highlight-dislike-button {
  color: darkred;
}
img{
  max-height: 336px;
}
.preview{
  overflow: hidden;
  max-height: 130px;
}
mat-card {
  display: flex;
  flex-wrap: wrap;
}
mat-card-actions {
  align-self: flex-end;
}
