<mat-card class="article-card">
  <mat-card-header>
    <mat-card-title>{{ translate(article, 'title', selectedLanguage) }}</mat-card-title>
    <mat-card-subtitle>Author: {{article.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]='article.img' [alt]="article.title">
  <mat-card-content class="preview">
    <p>
      {{ translate(article, 'preview', selectedLanguage) }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleLanguage()">
      <span class="material-icons">language</span>
    </button>
    <button mat-button class="like-dislike-btn" (click)="setMark(1)">
      <span class="like-dislike-count">{{likes | async}}</span>
      <span class="material-icons"
            [class.highlight-like-button]="isLikedByUser | async"
      >thumb_up</span>
    </button>
    <button mat-button class="like-dislike-btn" (click)="setMark(-1)">
      <span class="like-dislike-count">{{dislikes | async}}</span>
      <span class="material-icons"
            [class.highlight-dislike-button]="isDislikedByUser | async"
      >thumb_down</span>
    </button>

    <button mat-button routerLink="view" routerLinkActive="active" [queryParams]="{id: article._id}">
      <span class="material-icons">visibility</span>
    </button>

  </mat-card-actions>
</mat-card>

