@import "./src/app/scss/colors";
.mat-sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
}
.sidebar-close-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  span{
    display: flex;
    align-items: center;
  }
}
.example-container {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 300px;
  background: $bg-main-clr-light;
}


.header-wrap{
  display: flex;
  justify-content: center;
}
h2{
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: -25%;
    bottom: -7px;
    height: 2px;
    background: $text-clr;
    width: 150%;
  }
}
h3{
  padding-left: 5%;
}

.mat-sidenav {
  width: 300px;
  padding-left: 10%;
  padding-top: 5%;
  background: inherit;
  border: none;
  overflow: hidden;
}
.mat-drawer-inner-container {
  width: 0!important;
  height: 0!important;
}
.example-list-section{
  margin: 5%;

  li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $text-clr;
  }
}
.mat-stroked-button {
  padding: 0;
  margin-bottom: .2rem;
  min-height: unset;
  min-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  mat-icon {
    transform: scale(.9);
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  :last-child{
    border-bottom: none;
  }
}
.add-plan-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;

  .mat-raised-button{
    background: $primary-clr;
  }
}

