<div  class="content-wrap">
  <mat-button-toggle-group value="Log in"  class="btn-wrap">
    <mat-button-toggle  value="Log in" (click)="login = true">Log in</mat-button-toggle>
    <mat-button-toggle  value="Register" (click)="login = false">Register</mat-button-toggle>
  </mat-button-toggle-group>
  <form *ngIf="login" class="input-wrap">
    <!--    login-->
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="usernameInput"
        name="loginUsernameInput"
        placeholder="User name..."
        type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="passwordInput"
        name="loginPasswordInput"
        placeholder="Password..."
        type="password">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="onLogin()">Submit</button>
  </form>

  <form *ngIf="!login" class="input-wrap">
    <!--    register-->
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="usernameInput"
        name="loginUsernameInput"
        placeholder="User name..."
        type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="passwordInput"
        name="loginPasswordInput"
        placeholder="Password..."
        type="password">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="onRegister()" stop-click-propagation>Submit</button>
  </form>
</div>

