<div class="content">
<app-file-input-button
  class="input-wrap"
  (uploadSuccess)="updateFilesList()"
>

</app-file-input-button>

  <mat-card class="card" *ngFor="let item of collection$ | async">
    <mat-card-title>
      <mat-icon>{{getIcon(item)}}</mat-icon>
      {{item.name}}
    </mat-card-title>
    <mat-card-actions>
      <a [href]="item.url" target="_blank">
        <button mat-button mat-flat-button>View</button>
      </a>
      <button mat-button mat-flat-button disabled>Download</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #btnTemplate>
  <button>btnTemplate</button>
</ng-template>
