@import "src/app/scss/colors";

.content {
  margin-top: 64px;
  background-color: $bg-main-clr;
  }
ul {
  list-style: none;
  li {
    border: 1px solid $secondary-clr;
    padding: .2rem;
    margin: .2rem;
  }
}
.input-wrap {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  overflow: hidden;
  margin: 0 auto 1rem auto;
  background-color: $bg-main-clr-light;
  width: 400px;
  mat-icon {
    vertical-align: bottom;
  }
}
