<div class="comment-wrap">
  <div class="user-wrap">
    <img [src]="comment.author.photoURL" alt="avatar">
    <span>{{comment.author.displayName}}</span>
  </div>
  <div>{{comment.timestamp}}</div>
  <div class="comment-body">{{comment.body}}</div>

  <div class="actions-wrap">
    <button mat-button class="like-dislike-btn" (click)="setMark(1)">
      <span class="like-dislike-count">{{likes | async}}</span>
      <span class="material-icons"
            [class.highlight-like-button]="comment.userState.isLikedByUser"
      >thumb_up</span>
    </button>
    <button mat-button class="like-dislike-btn" (click)="setMark(-1)">
      <span class="like-dislike-count">{{dislikes | async}}</span>
      <span class="material-icons"
            [class.highlight-dislike-button]="comment.userState.isDislikedByUser"
      >thumb_down</span>
    </button>

    <button mat-button class="replies-btn" (click)="showReplyInput = !showReplyInput">
      <span>reply</span>
    </button>

    <button mat-button class="replies-btn" (click)="showReply()" *ngIf="comment.replies">
      <span class="like-dislike-count">{{comment.replies}}</span>
      <span>replies...</span>
    </button>
  </div>
    <form
      class="comment-form"
      (submit)="createComment(comment.article_id, commentInput.value, $event)"
      [class.show-reply-input]="showReplyInput"
    >
      <input #commentInput matInput placeholder="Write reply here...">
      <button type="submit" class="submit-btn">
        <span class="material-icons">send</span>
      </button>
    </form>
  <div class="replies-wrap" *ngIf="isShowReply$ | async">
    <app-comment *ngFor="let comment of (childComments$ | async)"  [comment]="comment"></app-comment>
  </div>
  <button
    mat-button
    class="show-more-btn"
    (click)="showMoreComments(comment.article_id)"
    [disabled]="!(hasNextPage$ | async)">
    Show more...
  </button>
</div>
