<div
  [class.is-completed]="todo?.isCompleted"
  class="todo-item">
  <div class="text-wrap">
    <button mat-stroked-button color="accent" (click)="toggleActive()" >
      <fa-icon class="fa-icon check" [icon]="faCheck"></fa-icon>
    </button>
    <span
      #editableSpan
      [attr.contenteditable]="allowEdit"
      (blur)="onSpanBlur()"
      (keydown.enter)="onSpanBlur(); $event.preventDefault()"
      (input)="onSpanInput()"
    >
      {{todo?.value}}
    </span>
  </div>

  <div class="btn-wrap">
    <button mat-mini-fab color="primary" (click)="toggleSpanEditable()">
      <fa-icon class="fa-icon" [icon]="faPencilAlt"></fa-icon>
    </button>

    <button mat-stroked-button class="remove-btn" color="accent" (click)="removeTodo()">
      <fa-icon class="fa-icon" [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
