<div
*ngFor="let todo of (todos$ | async)"
[class.is-completed]="todo.isCompleted"
class="todo-item">
<div class="text-wrap">
  <button (click)="toggleActive(todo._id)">
    <fa-icon class="fa-icon check" [icon]="faCheck"></fa-icon>
  </button>
  <span>{{todo.value}}</span>
</div>

<div class="btn-wrap">
  <button (click)="editValue(todo._id, 'edited')">
    <fa-icon class="fa-icon" [icon]="faPencilAlt"></fa-icon>
  </button>
  <button (click)="removeTodo(todo._id)">
    <fa-icon class="fa-icon" [icon]="faTrash"></fa-icon>
  </button>
</div>
</div>
