@import '../../scss/colors.scss';

button {
  font-size: inherit;
  background: $icon-bg-clr;
  color: $icon-text-clr;
  margin-right: .5rem;
  margin-bottom: .1rem;
  width: 25px;
  height: 25px;
  padding: .3rem;
  border: none;
  cursor: pointer;
  outline: none;
  &:hover, :active, :focus {
    opacity: .6;
  }
}
.is-completed{
  opacity: .4;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: $border-clr;
    content: "";
    width: 100%;
    display: block;
  }
}

.fa-icon {
  text-align: center;
  vertical-align: baseline;
}



.todo-item{
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px $border-clr;
  margin-bottom: 1rem;

  button {
    border-radius: 50%;
  }
}