@import "src/app/scss/colors";
.content-wrap{
  background-color: $bg-main-clr;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
}
.sidenav-opened{
  padding-left: 320px;
  transition: padding-left ease-out .15s;
}
.sidenav-closed {
  padding-left: 0;
  transition: padding-left ease-out .15s;
}
