<div class="aside-wrap">
  <mat-sidenav
    #sidenav
    mode="side"
    (keydown.escape)="sidenavClose()">
    <div class="example-container">
      <div class="header-wrap">
        <h2>Task info</h2>
      </div>
      <button class="sidebar-close-btn" mat-stroked-button (click)="sidenavClose()">
        <mat-icon>close</mat-icon>
      </button>

      <div class="example-list-section">
        <h3>Plan for: {{(currentTodo$ | async)?.value}}</h3>

        <ul *ngFor="let subtask of (currentSubtask$ | async)">
          <li *ngIf="subtask.value">
            <mat-checkbox
              [checked]="subtask.isCompleted"
              (change)="toggleActiveSubtask(subtask._id)"
            >
              {{subtask.value}}
            </mat-checkbox>
            <button (click)="removeSubtask(subtask._id)" mat-stroked-button>
              <mat-icon class="material-icons">delete_forever</mat-icon>
            </button>
          </li>
        </ul>
        <form class="add-plan-item">
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="inputValue"
                   matInput
                   #subtaskInput
                   name="planInput"
                   type="text"
                   placeholder="Add plan item...">
          </mat-form-field>
          <button
            type="submit"
            mat-stroked-button
            (click)="addSubtask()">
            <mat-icon>post_add</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </mat-sidenav>
</div>
