@import "src/app/scss/colors";

.page-wrap{
  max-width: 800px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 2rem;
}


