@import "src/app/scss/colors";

.wrap {
  width: 900px;
  margin: 0 auto;
}
.nav{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
h3{
  margin-bottom: .2rem;
  margin-top: 1rem;
}
input {
  font-size: 1.3rem;
  box-sizing:border-box;
  width: 100%;
}
input[type="text"], textarea {
  background-color : $gray-clr;
}
button{
  margin: 1rem 0;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 400px;
}
:host ::ng-deep .ck.ck-editor__main>.ck-editor__editable {
  background-color: $gray-clr;
  color: $text-clr;
}
textarea{
  resize: none;
  width: 100%;
  height: 100px;
}
footer{
  margin-top: 3rem;
}
.tags-chip-list {
  width: 100%;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0!important;
}
