<div  class="content-wrap">
  <div class="btn-wrap">
    <button mat-raised-button (click)="login = true">Log in</button>
    <button mat-raised-button (click)="login = false">Register</button>
  </div>
  <form *ngIf="login" class="input-wrap">
<!--    login-->

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>

    <p>log In</p>
    <input
      [(ngModel)]="usernameInput"
      name="loginUsernameInput"
      placeholder="User name..."
      type="text">
    <input
      [(ngModel)]="passwordInput"
      name="loginPasswordInput"
      placeholder="Password..."
      type="password">
    <button mat-raised-button type="submit" (click)="onLogin()">Submit</button>
  </form>

  <form *ngIf="!login" class="input-wrap">
<!--    register-->
    <p>Register</p>
    <input
      [(ngModel)]="usernameInput"
      name="registerUsernameInput"
      placeholder="User name..."
      type="text">
    <input

      [(ngModel)]="passwordInput"
      name="registerPasswordInput"
      placeholder="Password..."
      type="password">
    <button mat-raised-button type="submit" (click)="onRegister()">Submit</button>
  </form>
</div>
