<div class="input-wrap">
  <form (submit)="upload($event)">
      <label for="file" mat-ripple class="input-fake">Choose file</label>
<!--    FILE INPUT-->
    <input
        #fileInput
        name="file"
        id="file"
        type="file"
        class="inputfile"
        [accept]="acceptedFileTypes"
        [multiple]="multiple"
        (change)="setSelectedFiles()"/>

      <div *ngIf="showResetBtn">
        <button mat-button mat-stroked-button type="button" (click)="reset()" [disabled]="!selectedFiles.length">Reset
        </button>
      </div>

      <div *ngIf="showUploadBtn">
        <button mat-button mat-stroked-button type="submit" [disabled]="!selectedFiles.length">Upload</button>
      </div>

  </form>

  <div class="staged" *ngIf="!showImgThmbl">
    <p>Files staged for upload:</p>
    <ul>
      <li *ngFor="let file of selectedFiles ; index as i">
        {{ i + 1 }}:  {{ file.name }}
      </li>
    </ul>
  </div>
</div>

<div class="img-thmbl" *ngIf="showImgThmbl">
  <img
    *ngIf="imgThmblSrc"
    [src]="imgThmblSrc"
    alt="image preview"
    class="img-thmbl"
 />
</div>


