.content-wrap{
  display: flex;
  margin: 100px auto;
  max-width: 600px;
}
.sidenav-opened{
  padding-left: 320px;
  transition: padding-left ease-out .15s;
}
.sidenav-closed {
  padding-left: 0;
  transition: padding-left ease-out .15s;
}
