.content {
  margin-top: 64px;
}
ul {
  list-style: none;
  li {
    border: 1px solid #69f0ae;
    padding: .2rem;
    margin: .2rem;
  }
}
.input-wrap {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
