<div
  [class.loading-spinner]="isTodoDisabled"
  [class.animated-background]="isTodoDisabled"
  [class.is-completed]="todo?.isCompleted"
  class="todo-item loader"
  [class.highlight]="highlight"
  (click)="onSelectTodo()">
  <div class="text-wrap">
    <button mat-stroked-button color="accent" [disabled]="isTodoDisabled" (click)="toggleActive();" stop-click-propagation>
      <fa-icon class="fa-icon check" [icon]="faCheck"></fa-icon>
    </button>
    <span
      #editableSpan
      [attr.contenteditable]="allowEdit"
      (blur)="onSpanBlur()"
      (keydown.enter)="onSpanBlur(); $event.preventDefault()"
    >
      {{todo?.value}}
    </span>
  </div>

  <div class="btn-wrap">
    <button mat-mini-fab color="primary" [disabled]="isTodoDisabled" (click)="toggleSpanEditable()" stop-click-propagation>
      <fa-icon class="fa-icon" [icon]="faPencilAlt"></fa-icon>
    </button>

    <button mat-stroked-button class="remove-btn" color="accent" [disabled]="isTodoDisabled" (click)="removeTodo()" stop-click-propagation>
      <fa-icon class="fa-icon" [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
