@import "src/app/scss/colors";
@import '~ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";
@include mat-core();
@import "./src/app/scss/colors";


//Input autofill styles override

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgb(21, 2, 24) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

//Input autofill styles override end

html, body { height: 100%; box-sizing: border-box  }
body {
  color: $text-clr;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $bg-main-clr;
  font-size: 18px;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  &:active {
    transform: scale(0.97);
  }
}
.material-icons{
  color: $text-clr;
}
