@import 'src/app/scss/colors';
div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    background: $primary-clr;
    color: $text-clr;
    border: 2px solid $text-clr;
  }
}
